ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: lightgray;
    height: auto;
    position: fixed;
    overflow: auto;
}

li a {
    color: black;
    padding: 8px 16px;
    display: block;
    text-decoration: none;
}

li{
    font-size: larger;
    text-align: center;
}

li:last-child {
  border-bottom: none;
}

li a:hover {
    background-color: red;
    color: white;
}

body{
    padding-left: 10px;
    background: whitesmoke;
    color: black;
    font-size: large;
    font-weight: lighter;
    font-family: monospace;
    text-align: center;
}

div#factorlist{
    width: 250px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

div#factorlist h2{
    text-align: center;
}

table{
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

th{
    padding: 8px;
    border: 2px solid black;
    margin: 10px;
    font-size: x-large;
    text-align: center;
}

td{
    padding: 32px;
    border: 1px dotted black;
    margin: 10px;
    font-size: large;
}
