nav {
    text-align: center;
    background-color: gray;
    color: black;
    padding: 15px;
    font-size: xx-large;
}

nav ul {
    list-style-type: none;
    margin: 2%;
}

nav ul li {
    font-size: 120%;
    color: red;
    display: inline;
    margin: 2%;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: dodgerblue;
}

nav ul li a:visited, nav ul li a:link {
    color: black;
    text-decoration: none;
}

body{
    padding-left: 10px;
    background: whitesmoke;
    color: black;
    font-size: large;
    font-weight: lighter;
    font-family: monospace;
    text-align: center;
}

table{
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

th{
    padding: 8px;
    border: 2px solid black;
    margin: 10px;
    font-size: x-large;
    text-align: center;
}

td{
    padding: 32px;
    border: 1px dotted black;
    margin: 10px;
    font-size: large;
}
