<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <nav>
        <ul>
            <li><a href="/index">Home Page</a></li>
            <li><a href="/create">Create</a></li>
{#            <li><a href="/read">Read</a></li>#}
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
{#            <li><a href="/info">Workout</a></li>#}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</head>
<body>
<script>
        var index=0;
        function change(img) {
            var arr=["/static/Arnold.jpg", "/static/Ed.jpg", "/static/Arnold2.jpeg", "/static/frank.jpg",
                "/static/Arnold3.jpg", "/static/Serge.jpg", "/static/Arnold4.jpg"];
            index++;
            index=index%7;
            img.src=arr[index];
        }
    </script>
    <br>
    <h1>SWOLE IS THE GOAL!!!!</h1>
    <img src="/static/Arnold.jpg" onclick="change(this)" height="300" width="500">
</body>
</html>