<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <nav>
        <ul>
            <li><a href="/index">Home Page</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/read">Read</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</head>
<body>

</body>
</html>