{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block content %}
    <h1>Create</h1>

    <form action="/create" method="POST">
        First Name:
        <input type="text" name="fname"><br>
        Last Name:
        <input type="text" name="lname"><br>
        User Name:
        <input type="text" name="uname"><br>
        Password:
        <input type="password" name="password"><br>
        Body Weight:
        <input type="number" name="bodyweight"><br>
        Bench:
        <input type="number" name="bench"><br>
        Squat:
        <input type="number" name="squat"><br>
        Incline:
        <input type="number" name="incline"><br>
        Deadlift:
        <input type="number" name="deadlift"><br>
        <input type="submit">
    </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}