{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}
    <h1>Do you want to delete all of your info?</h1>
    <table>
        <th>Body Weight</th>
        <th>Bench</th>
        <th>Squat</th>
        <th>Incline</th>
        <th>Deadlift</th>

            <tr>
                <td>
                    {{ bodyweight }}
                </td>
                <td>
                    {{ bench }}
                </td>
                <td>
                    {{ squat }}
                </td>
                <td>
                    {{ incline }}
                </td>
                <td>
                    {{ deadlift }}
                </td>
            </tr>

    </table>

    <form action="/deleteinfo/{{ id }}" method="POST">
        <input type="radio" name="option" value="yes">Yep<br>
        <input type="radio" name="option" value="no">Nope<br>
        <input type="submit">
    </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}