{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block content %}
    <h1>One Rep Maxes</h1>

    <form action="/info" method="POST">
        Body Weight:
        <input type="number" name="bodyweight" required><br>
        Bench:
        <input type="number" name="bench" required><br>
        Squat:
        <input type="number" name="squat" required><br>
        Incline:
        <input type="number" name="incline" required><br>
        Deadlift:
        <input type="number" name="deadlift" required><br>
        <input type="submit">
    </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}