{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form action="/login" method="POST">
        User Name:
        <input type="text" name="uname"><br>
        Password:
        <input type="password" name="password"><br>
        <input type="submit">
    </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}