{% extends "base.html" %}
{% block title %}Read{% endblock %}
{% block content %}
    <h1>Profile</h1>
    <table>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Body Weight</th>
        <th>Bench</th>
        <th>Squat</th>
        <th>Incline</th>
        <th>Deadlift</th>
        <th>User Name</th>
        <th>Password</th>

        {% if client %}
            <tr>
                <td>
                    {{ client.fname }}
                </td>
                <td>
                    {{ client.lname }}
                </td>
                <td>
                    {{ client.bodyweight }}
                </td>
                <td>
                    {{ client.bench }}
                </td>
                <td>
                    {{ client.squat }}
                </td>
                <td>
                    {{ client.incline }}
                </td>
                <td>
                    {{ client.deadlift }}
                </td>
                <td>
                    {{ client.uname }}
                </td>
                <td>
                    {{ client.password }}
                </td>
                <td>
                    <form method="GET" action="/update/{{ client.id }}">
                        <input type="submit" value="UPDATE">
                    </form>
                </td>
                <td>
                    <form method="GET" action="/delete/{{ client.id }}">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endif %}
    </table>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}