{% extends "base.html" %}
{% block title %}Read{% endblock %}
{% block content %}
    <h1>Read</h1>
    <table>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Password</th>
        {% for client in clients %}
            <tr>
                <td>
                    {{ client.fname }}
                </td>
                <td>
                    {{ client.lname }}
                </td>
                <td>
                    {{ client.uname }}
                </td>
                <td>
                    {{ client.password }}
                </td>
            <td>
                    <form method="GET" action="/update/{{ client.id }}">
                        <input type="submit" value="UPDATE">
                    </form>
                </td>
                <td>
                    <form method="GET" action="/delete/{{ client.id }}">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}