{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}
    <h1>Update</h1>

    <form action="/update/{{ id }}" method="POST">
        First Name:
        <input type="text" name="newfname" value="{{ fname }}"><br>
        Last Name:
        <input type="text" name="newlname" value="{{ lname }}"><br>
        User Name:
        <input type="text" name="newuname" value="{{ uname }}"><br>
        Password:
        <input type="text" name="newpassword" value="{{ password }}"><br>
        Body Weight:
        <input type="number" name="newbodyweight" value="{{ bodyweight }}"><br>
        Bench:
        <input type="number" name="newbench" value="{{ bench }}"><br>
        Squat:
        <input type="number" name="newsquat" value="{{ squat }}"><br>
        Incline:
        <input type="number" name="newincline" value="{{ incline }}"><br>
        Deadlift:
        <input type="number" name="newdeadlift" value="{{ deadlift }}"><br>
        <input type="submit">
    </form>

{% endblock %}